.login-popup {
    position: fixed;
    inset: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-popup h2 {
    color: #333;
}
body.login-open {
    overflow: hidden;
    height: 100vh; 
}
.login-popup .container {
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding: 30px;
}
.container .remove {
    position: relative;
    bottom: 55px;
    left: 260px;
    font-size: 30px;
    color: #555;
    cursor: pointer;
    font-weight: 200;
}
.container div input, .container div button {
    padding: 10px ;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #888;
}
.container div button {
    background-color: #E63946;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.container .checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -20px;
}
.container .checkbox input {
    width: 17px;
    cursor: pointer;
}
.container .checkbox p {
    font-size: 13px;
    color: #666;
}
.container .switch {
    color: #666;
    font-size: 15px;
    margin-left: 10px;
}
.container .switch span {
    color: #E63946;
    cursor: pointer;
}
.container input:focus {
    border: 2px solid #E63946;
    outline: none;
}
.container div:first-of-type {
    margin-top: -50px;
}
@media (min-width: 401px) and (max-width: 768px) {
    .login-popup .container {
        width: 400px;
    }
    .login-popup h2 {
        font-size: 30px;
    } 
    .container .remove {
        left:300px;
        font-size: 40px;
        bottom: 65px;
    } 
    .container .checkbox p {
        font-size: 16px;
    }
    .container .switch {
        font-size: 18px;
    }
    .container div input, .container div button {
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
    }
    .container div button {
        font-size: 22px;
    }
    .container .checkbox input {
        width: 20px;
    }
}
@media(max-width: 400px) {
    .login-popup .container {
        width: 350px;
    }
    .login-popup h2 {
        font-size: 30px;
    } 
}
@media(min-width: 1600px) {
    .login-popup .container {
        width: 400px;
        gap: 40px;
        border-radius: 10px;
    }
    .login-popup h2 {
        font-size: 40px;
        margin-bottom: -35px;
    }
    .container .remove {
        left: 300px;
        bottom: 55px;
        font-size: 40px;
    }
    .container div input, .container div button {
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 20px;
    }
    .container div button {
        font-size: 22px;
    }
    .container .checkbox p {
        font-size: 18px;
    }
    .container .checkbox input {
        width: 22px;
    }
    .container .switch {
        font-size: 20px;
    }
}